<header>

    <div id="logo" onclick="window.location='/docs';"></div>


    <% if(extra) { %>
        <div id="extra">

            <% if (extra == "search") { %>
                <input id="search" type="text" placeholder="Search...">


            <% } else if ( extra == "editor") { %>

                <h1 data-bs-toggle="modal" data-bs-target="#renameModal"><%= doc.title %></h1>

                <!-- <div style="display: flex;">
                    <button>Share</button>

                    <div class="text-end d-flex flex-wrap ms-3">
                        <p id="message-save" class="mt-auto mb-auto me-3"></p>
                        <button id="button-save" type="button" class="btn btn-success me-1"><i class="bi-save me-1"></i>
                            Save
                        </button>
                    </div>
                </div> -->

                <button type="button-share" class="btn btn-warning px-3"><i class="bi bi-people"></i></button>

            <% } %>
        </div>
    <% } %>


    <div id="profile_pic">
        <% if (isUserAuthenticated) { %>
            <!-- <img id="profile_pic" src='<%= user.profile_pic %>' onerror="if (this.src != './media/profile_pics/img_avatar.png') this.src = '../media/profile_pics/img_avatar.png';"alt="<%= user.username %>"> -->
            <img id="profile_pic" src='./media/profile_pics/img_avatar.png' onerror="if (this.src != './media/profile_pics/img_avatar.png') this.src = '../media/profile_pics/img_avatar.png';"alt="<%= user.username %>">

            <!-- <img id="profile_pic" src="<%= user.profile_pic %>" alt="<%= user.username %>"> -->
        <% } %>
    </div>
    
    
    <div class="modal-user">
        <div class="modal-content">
            
            <div class="modal-header">
                <img id="profile_pic" src='./media/profile_pics/img_avatar.png' onerror="if (this.src != './media/profile_pics/img_avatar.png') this.src = '../media/profile_pics/img_avatar.png';"alt="<%= user.username %>">
                <!-- <img id="profile_pic" src="<%= user.profile_pic %>" alt="<%= user.username %>"> -->
                
            </div>
            <div class="modal-body">
                <div id="info">
                    <h2><%= user.username %></h2>
                    <p><%= user.email %></p>
                </div>
                <form style="display:none" method="post" action="/user?_method=PUT">
                    <div>
                        <input type="text" id="username" name='username' value="<%= user.username %>">
                    </div>
                    <div>
                        <input type="password" id="password" name="password" placeholder="new password">
                    </div>
                    
                    <div class="form-floating">
                        <input type="file" id="img" name="image" accept="image/*">
                    </div>
        
                    <div>
                        <input type="submit" class="btn btn-sm btn-warning">
                    </div>
                </form>
                
                
            </div>
            <div class="modal-footer">
                <div id="button">
                    <button class="btn btn-sm btn-warning" onclick="show_edit_user_form()">Edit</button>
                </div>

                <form action="/auth/logout?_method=DELETE" method="post" class="logout">
                    <input type="submit" class="btn btn-sm btn-danger" value="Log out"></input> 
                </form>
            </div>
        </div>
    </div>
    
</header>



<script>
    // Get the modal
    var modal = document.querySelector(".modal-user");
    
    // Get the button that opens the modal
    var btn = document.getElementById("profile_pic");
    
    // When the user clicks the button, open the modal 
    btn.onclick = function() {
      modal.style.display = "block";
    }
    
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }

    function show_user_info() {
        document.querySelector('.modal-body #info').style = "display:block";
        document.querySelector('.modal-body form').style = "display:none";
        document.querySelector('.modal-footer #button').innerHTML = `<button onclick="show_edit_user_form()" class="btn btn-sm btn-warning">Edit</button>`;

    }

    function show_edit_user_form() {
        document.querySelector('.modal-body #info').style = "display:none";
        document.querySelector('.modal-body form').style = "display:block";
        document.querySelector('.modal-footer #button').innerHTML = `<button onclick="show_user_info()" class="btn btn-sm btn-warning">Cancel</button>`;
    }

</script>

