<%
if(!docs) {
    var docs = []
}

var messagesuccess = messageSuccess != '' ? `<script>showAlert(document.querySelector('#alerts'),"success","${messageSuccess}", true)</script>` : '';
var messagefailure = messageFailure != '' ? `<script>showAlert(document.querySelector('#alerts'),"success","${messageFailure}", true)</script>` : '';

%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoX - Documents</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- SVG FontAwesome Icons -->
    <script defer src="/media/fontawesome-free-5.15.4-web/js/all.js"></script>
    <style type="text/css">
        @import url("/css/common.css");
        @import url("/css/documents.css");
    </style>
</head>
<body>

    <%- include('includes/header', {'extra' : 'search'}) %>

    <section class="tools-bar">
        <a class="new-doc" href="/docs/new"><i class="bi bi-file-earmark-plus-fill"></i> New</a>

        <!-- Card/Grid view buttons -->
        <div class="switch-list-grid">
            <a class="grid-view" href=""><i class="fa fa-th"></i></a>
            <a class="list-view" href=""><i class="fa fa-list"></i></a>
        </div>

        <!-- Sort section -->
        <div class="dropdown show sort">
            <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown">
                Sort by
            </a>
          
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" rel="creation-date">Create Date</a>
                <a class="dropdown-item" href="#" rel="edit-date">Edit Date</a>
                <a class="dropdown-item" href="#" rel="title">Title</a>
                <a class="dropdown-item" href="#" rel="owner">Owner</a>
                <a class="dropdown-item" href="#" rel="shared"># of shares</a>
            </div>
        </div>
        <a id="reverse-sort" href="">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down-alt" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
            </svg>
        </a>
        <button class="active-sort"></button>

        <!-- Filter section -->
        <div class="dropdown show filter">
            <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown">
                Filter
            </a>
            <div class="dropdown-menu">
                <form id="filters">
                    <article class="dropdown-item filter">
                        <label for="filter-owned">Owned by me</label>
                        <input name="filter-owned" type="checkbox">
                    </article>
                    <article class="dropdown-item filter">
                        <label for="filter-read">Reading Permissions</label>
                        <input name="filter-read" type="checkbox">
                    </article>
                    <article class="dropdown-item filter">
                        <label for="filter-write">Writing Permissions</label>
                        <input name="filter-write" type="checkbox">
                    </article>
                    <article class="dropdown-item filter">
                        <label for="filter-shared">Shared Documents</label>
                        <input name="filter-shared" type="checkbox">
                    </article>
                    <input name="filter-submit" type="submit" value="Save">
                </form>
            </div>
        </div>
        <section class="active-filters">
            
        </section>
    </section>


    <main >
        
        <section class="cards" id="table-of-documents">
            <article class="list-element head">
                <span class="info"></span>
                <span class="info"><b><a href="#" rel="title">Title</a></b></span>
                <span class="info"><b><a href="#" rel="owner">Owner</a></b></span>
                <span class="info"><b><a href="#" rel="shared">Shared</a></b></span>
                <span class="info"><b><a href="#" rel="edit-date">Last Edit</a></b></span>
                <span class="info"><b><a href="#" rel="creation-date">Creation Date</a></b></span>
                <span class="info"><b><a href="#">Delete</a></b></span>
            </article>

            <% docs.forEach((doc)=>{ %>
                <article id="<%= doc._id %>" class="card-element">
                    <a id="icon" href="docs/<%= doc._id %>">
                        <img src="/media/svg/notebook_icon_LIGHT.svg" alt="Card image cap">
                    </a>
                    <span class="title"><%= doc.title %></span>
                    <p class="actual-creation-date"><%= doc.created_date %></p>
                    <span class="info creation-date"><%= doc.created_date %></span>
                    <p class="actual-edit-date"><%= doc.edit_date %></p>
                    <span class="info edit-date"><%= doc.edit_date %></span>
                    <span class="info"></span>
                    
                    <p class="owner"><%= doc.owner %></p>
                    <span class="info owner"></span>
                    <a class="delete" id="docs/<%= doc._id %>" href="#">
                        <img src="/media/svg/delete.svg" class="svgimgform"></img>
                    </a>

                    <p id="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ducimus, inventore. In, quaerat facere earum repellendus cum maxime tenetur nemo. Nemo assumenda voluptas eveniet ab consectetur excepturi expedita. Ex, nulla iure?</p>

                    <% let doc_perms = [] 
                        doc.perm_edit.forEach(u=>{ 
                            if (String(doc.owner) != String(u)) {
                                doc_perms.push(`<a class="dropdown-item" href="#">${u} edit</a>`)
                            }
                        })
                        doc.perm_read.forEach(u=>{
                            if (String(doc.owner) != String(u)) {
                                let contained = false;
                                doc_perms.forEach(p=>{
                                    if (p.includes(String(u))) {
                                        contained = true;
                                    }
                                });
                                if (!contained) {
                                    doc_perms.push(`<a class="dropdown-item" href="#">${u} read</a>`);
                                }
                            }
                        }) %>
                    <p class="shared"><%= doc_perms.length %></p>
                    <a id="end" href="#" data-html="true" data-placement="top" data-toggle="popover" data-trigger="hover" data-title="Shared with" 
                        data-content='
                        
                        <% doc_perms.forEach(u=>{ %>
                            <%- u %>
                        <% }) 
                        if (doc_perms.length == 0) { %>
                            <a class="dropdown-item">Document not shared</a>
                        <% } %>

                        '><%= doc_perms.length %> <img src="/media/svg/share.svg" alt="Options">
                        </a>

                    <a id="start" href="#" data-html="true" data-placement="top" data-toggle="popover" data-title="Document Information" 
                        data-content="Created on: <%= doc.created_date.toDateString() %> <br />
                        Owner: <%= doc.owner %> <br />
                        Size: <%= doc.size %> <br />
                        "><img id="threedots" src="/media/svg/options.svg" alt="Options"></a>

                </article>
            <% }); %>
        </section>

        <!--
        <section class="grid">
            <div class="card document document-create">
                <a href="/docs/new"><i class="far fa-plus-square"></i></a>
            </div>

            
            <% docs.forEach((doc)=>{ %>
                <div class="card" style="width: 14rem;">
                    <div class="card-body">
                        <a href="docs/<%= doc._id %>">
                            <img class="card-img-top" src="/media/svg/notebook_icon_LIGHT.svg" alt="Card image cap">
                        </a>
                        <div class="card-inner">
                            <h5 class="card-title"><%= doc.title %></h5>
                            <p class="card-date"><%= doc.created_date.toDateString() %></p>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <div class="optionbuttons">
                                <a id="docs/<%= doc._id %>" href="#">
                                    <img src="/media/svg/delete.svg" class="svgimgform"></img>
                                </a>
                                <a id="end" href="#" data-html="true" data-placement="top" data-toggle="popover" data-trigger="hover" data-title="Shared with" 
                                    data-content="<% for(let i = 0; i < doc.perm_edit.length; i++) { %>
                                            <%= doc.perm_edit[i] %> <br />
                                    <% } %>
                                    "><img src="/media/svg/share.svg" alt="Options"></a>
                                <a id="start" href="#" data-html="true" data-placement="top" data-toggle="popover" data-title="Document Information" 
                                    data-content="Created on: <%= doc.created_date.toDateString() %> <br />
                                    Owner: <%= doc.owner %> <br />
                                    Size: <%= doc.size %> <br />
                                    "><img id="threedots" src="/media/svg/options.svg" alt="Options"></a>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </section>
        -->

    </main>

<input id="dark-mode-toggle" type="checkbox">

<div id="alerts">
    

</div>
<!-- <form id="send_put">
    <input type="submit" value="Submit"> </form>    
</form> -->

<script src="/js/common.mjs"></script>
<script onload="init_documents()" src="/js/documents.js"></script>

<%- messagesuccess %>
<%- messagefailure %>


<script>

    // Returns the username matching the given User's Id
    function getUsernameById(id){
        return new Promise((resolve,reject)=>{
            let filter = {_id: id};
            fetch('users/'+filter._id)
            .then(res=>res.json())
            .then(user=>{
                if (user.username == document.querySelector('#info > h2').innerHTML) {
                    resolve("me");
                } else {
                    resolve(user.username);
                }
            })
            .catch(err=>{
                if (dom.innerHTML == ""){
                    reject("invalid user");
                }
            });
            
        })
    }
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            html:true
        });   
    });
    </script>

</body>
</html>