<!-- trying to fix white flashes when opening a page using dark mode-->
<script>
    if (localStorage.getItem("dark_mode") == 'true') {
        document.body.classList.add("dark-theme")
        document.querySelector("#dark-mode-toggle").checked = true
    } else {
        document.body.classList.remove('dark-theme')
        document.querySelector("#dark-mode-toggle").checked = false
    }
</script>



<%
if(!docs) {
    var docs = []
}

var messagesuccess = messageSuccess != '' ? `<script>showAlert(document.querySelector('#alerts'),"success","${messageSuccess}", true)</script>` : '';
var messagefailure = messageFailure != '' ? `<script>showAlert(document.querySelector('#alerts'),"success","${messageFailure}", true)</script>` : '';

%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoX - Documents</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- SVG FontAwesome Icons -->
    <script defer src="/media/fontawesome-free-5.15.4-web/js/all.js"></script>
    <style type="text/css">
        @import url("/css/common.css");
        @import url("/css/documents.css");
    </style>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script  onload="init_socket()" src="/js/socket.js"></script>

    <%- include('includes/header', {'extra' : 'search'}) %>

    <section class="tools-bar">
        <a class="new-doc" href="/docs/new"><i class="bi bi-file-earmark-plus-fill"></i> New</a>

        <!-- Card/Grid view buttons -->
        <div class="switch-list-grid">
            <a class="grid-view" href="">
                <svg class="svg-inline--fa fa-th fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="th" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M149.333 56v80c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24V56c0-13.255 10.745-24 24-24h101.333c13.255 0 24 10.745 24 24zm181.334 240v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm32-240v80c0 13.255 10.745 24 24 24H488c13.255 0 24-10.745 24-24V56c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24zm-32 80V56c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.256 0 24.001-10.745 24.001-24zm-205.334 56H24c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24zM0 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H24c-13.255 0-24 10.745-24 24zm386.667-56H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zm0 160H488c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H386.667c-13.255 0-24 10.745-24 24v80c0 13.255 10.745 24 24 24zM181.333 376v80c0 13.255 10.745 24 24 24h101.333c13.255 0 24-10.745 24-24v-80c0-13.255-10.745-24-24-24H205.333c-13.255 0-24 10.745-24 24z"></path></svg>
            </a>
            <a class="list-view" href=""><i class="fa fa-list"></i></a>
        </div>

        <!-- Sort section -->
        <div class="dropdown show sort">
            <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown">
                Sort by
            </a>
          
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" rel="creation-date">Create Date</a>
                <a class="dropdown-item" href="#" rel="edit-date">Edit Date</a>
                <a class="dropdown-item" href="#" rel="title">Title</a>
                <a class="dropdown-item" href="#" rel="owner">Owner</a>
                <a class="dropdown-item" href="#" rel="shared"># of shares</a>
            </div>
        </div>
        <button class="active-sort"></button>

        <!-- Filter section -->
        <div class="dropdown show filter">
            <a class="btn btn-secondary dropdown-toggle" href="#" data-toggle="dropdown">
                Filter
            </a>
            <div class="dropdown-menu">
                <form id="filters">
                    <article class="dropdown-item filter">
                        <label for="filter-owned">Owned by me</label>
                        <input name="filter-owned" type="checkbox">
                    </article>
                    <article class="dropdown-item filter">
                        <label for="filter-read">Reading Permissions</label>
                        <input name="filter-read" type="checkbox">
                    </article>
                    <article class="dropdown-item filter">
                        <label for="filter-edit">Writing Permissions</label>
                        <input name="filter-edit" type="checkbox">
                    </article>
                    <article class="dropdown-item filter">
                        <label for="filter-shared">Shared Documents</label>
                        <input name="filter-shared" type="checkbox">
                    </article>
                    <input name="filter-submit" type="submit" value="Save">
                </form>
            </div>
        </div>
        <section class="active-filters">
            
        </section>
    </section>

    <main >
        <% if(docs.length == 0) { %>
            <div id="no-documents">No documents</div>
        <% } %>
    
        
        <section class="cards" id="table-of-documents">
                <article class="list-element head">
                    <span class="info"></span>
                    <span class="info">
                        <b><a href="#" rel="title">Title</a></b>
                        <a class="reverse-sort" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down-alt rev" viewBox="0 0 16 16">
                                <path d="M12.96 7H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V7z"/>
                                <path fill-rule="evenodd" d="M10.082 12.629 9.664 14H8.598l1.789-5.332h1.234L13.402 14h-1.12l-.419-1.371h-1.781zm1.57-.785L11 9.688h-.047l-.652 2.156h1.351z"/>
                                <path d="M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                        </a>
                    </span>
                    <span class="info">
                        <b><a href="#" rel="owner">Owner</a></b>
                        <a class="reverse-sort" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down-alt rev" viewBox="0 0 16 16">
                                <path d="M12.96 7H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V7z"/>
                                <path fill-rule="evenodd" d="M10.082 12.629 9.664 14H8.598l1.789-5.332h1.234L13.402 14h-1.12l-.419-1.371h-1.781zm1.57-.785L11 9.688h-.047l-.652 2.156h1.351z"/>
                                <path d="M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                        </a>
                    </span>
                    <span class="info">
                        <b><a href="#" rel="shared">Shared</a></b>
                        <a class="reverse-sort" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-numeric-down" viewBox="0 0 16 16">
                                <path d="M12.438 1.668V7H11.39V2.684h-.051l-1.211.859v-.969l1.262-.906h1.046z"/>
                                <path fill-rule="evenodd" d="M11.36 14.098c-1.137 0-1.708-.657-1.762-1.278h1.004c.058.223.343.45.773.45.824 0 1.164-.829 1.133-1.856h-.059c-.148.39-.57.742-1.261.742-.91 0-1.72-.613-1.72-1.758 0-1.148.848-1.835 1.973-1.835 1.09 0 2.063.636 2.063 2.687 0 1.867-.723 2.848-2.145 2.848zm.062-2.735c.504 0 .933-.336.933-.972 0-.633-.398-1.008-.94-1.008-.52 0-.927.375-.927 1 0 .64.418.98.934.98z"/>
                                <path d="M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-numeric-down-alt rev" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M11.36 7.098c-1.137 0-1.708-.657-1.762-1.278h1.004c.058.223.343.45.773.45.824 0 1.164-.829 1.133-1.856h-.059c-.148.39-.57.742-1.261.742-.91 0-1.72-.613-1.72-1.758 0-1.148.848-1.836 1.973-1.836 1.09 0 2.063.637 2.063 2.688 0 1.867-.723 2.848-2.145 2.848zm.062-2.735c.504 0 .933-.336.933-.972 0-.633-.398-1.008-.94-1.008-.52 0-.927.375-.927 1 0 .64.418.98.934.98z"/>
                                <path d="M12.438 8.668V14H11.39V9.684h-.051l-1.211.859v-.969l1.262-.906h1.046zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                        </a>
                    </span>
                    <span class="info">
                        <b><a href="#" rel="edit-date">Last Edit</a></b>
                        <a class="reverse-sort" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down-alt rev" viewBox="0 0 16 16">
                                <path d="M12.96 7H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V7z"/>
                                <path fill-rule="evenodd" d="M10.082 12.629 9.664 14H8.598l1.789-5.332h1.234L13.402 14h-1.12l-.419-1.371h-1.781zm1.57-.785L11 9.688h-.047l-.652 2.156h1.351z"/>
                                <path d="M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                        </a>
                    </span>
                    <span class="info">
                        <b><a href="#" rel="creation-date">Creation Date</a></b>
                        <a class="reverse-sort" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.082 5.629 9.664 7H8.598l1.789-5.332h1.234L13.402 7h-1.12l-.419-1.371h-1.781zm1.57-.785L11 2.687h-.047l-.652 2.157h1.351z"/>
                                <path d="M12.96 14H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V14zM4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sort-alpha-down-alt rev" viewBox="0 0 16 16">
                                <path d="M12.96 7H9.028v-.691l2.579-3.72v-.054H9.098v-.867h3.785v.691l-2.567 3.72v.054h2.645V7z"/>
                                <path fill-rule="evenodd" d="M10.082 12.629 9.664 14H8.598l1.789-5.332h1.234L13.402 14h-1.12l-.419-1.371h-1.781zm1.57-.785L11 9.688h-.047l-.652 2.156h1.351z"/>
                                <path d="M4.5 2.5a.5.5 0 0 0-1 0v9.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L4.5 12.293V2.5z"/>
                            </svg>
                        </a>
                    </span>
                    <span class="info"><b><a href="#">Delete</a></b></span>
                </article>
            
            <% docs.forEach((doc)=>{ %>
                <article id="<%= doc._id %>" class="card-element">
                    <a id="icon" href="docs/<%= doc._id %>">
                        <img src="/media/svg/notebook_icon.svg" alt="Card image cap">
                    </a>
                    <span class="title"><%= doc.title %></span>
                    <p class="actual-creation-date"><%= doc.created_date %></p>
                    <span class="info creation-date"><%= doc.created_date %></span>
                    <p class="actual-edit-date"><%= doc.edit_date %></p>
                    <span class="info edit-date"><%= doc.edit_date %></span>
                    <span class="info"></span>
                    
                    <p class="owner"><%= doc.owner %></p>
                    <span class="info owner"></span>
                    <a class="delete" data-delete_action="docs/<%= doc._id %>" type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirm-deletion-modal" >
                        <img src="/media/svg/delete.svg" class="svgimgform"></img>
                    </a>

                    <% let doc_perms = []
                        doc_perms.push(`
                            <a class="dropdown-item user" href="#">
                                <span class="user">${doc.owner}</span>
                                <span class="role">owner</span>
                            </a>`)
                        doc.perm_edit.forEach(u=>{ 
                            if (String(doc.owner) != String(u)) {
                                doc_perms.push(`
                                    <a class="dropdown-item user" href="#">
                                        <span class="user">${u}</span>
                                        <span class="role">edit</span>
                                    </a>`)
                            }
                        })
                        doc.perm_read.forEach(u=>{
                            if (String(doc.owner) != String(u)) {
                                let contained = false;
                                doc_perms.forEach(p=>{
                                    if (p.includes(String(u))) {
                                        contained = true;
                                    }
                                });
                                if (!contained) {
                                    doc_perms.push(`
                                        <a class="dropdown-item user" href="#">
                                            <span class="user">${u}</span>
                                            <span class="role">read</span>
                                        </a>`);
                                }
                            }
                        }) %>
                    <p class="shared"><%= doc_perms.length - 1 %></p>
                    <a class="perms" id="end" href="#" data-html="true" data-placement="top" data-toggle="popover" data-trigger="hover" data-title='<div class="popovertitle">Shared with</div>'
                        data-content='
                        
                        <% doc_perms.forEach(u=>{ %>
                            <%- u %>
                        <% }) 
                        if (doc_perms.length == 1) { %>
                            <a class="dropdown-item doc">Document not shared</a>
                        <% } %>

                        '><%= doc_perms.length -1 %> <img id="shared" src="/media/svg/share.svg" alt="Options">
                        </a>

                    <a class="options" id="start" href="#" data-html="true" data-placement="top" data-toggle="popover" data-trigger="hover" data-title='<div class="popovertitle">Document Information</div>'
                        data-content="<span>Created on: <%= doc.created_date.toDateString() %></span><br>
                        <span>Owner: <%= doc.owner %></span><br>
                        <span>Size: <%= doc.size %></span>
                        "><img id="threedots" src="/media/svg/options.svg" alt="Options"></a>

                </article>
            <% }); %>
        </section>

        <!-- Modal for document deletion confirm -->
        <div class="modal fade" id="confirm-deletion-modal" tabindex="-1" role="dialog" aria-labelledby="confirm-deletion-modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title" id="confirm-deletion-modalLabel">Are you sure ?</h5>
                    </div>
                    <div class="modal-body">
                        <span class="col-form-label">Are you sure you want to delete document '</span><span id='deletion-modal-doc-title'> </span><span>'?<br> <b>This action cannot be undone</b></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button data-delete_action="" id="deletion-modal-confirm" type="button" class="btn btn-danger" data-dismiss="modal">Delete document</button>
                    </div>

                </div>
            </div>
        </div>
        <!--##################-->
    </main>

<div id="alerts">
    

</div>
<!-- <form id="send_put">
   <input type="submit" value="Submit"> </form>
</form> -->

<script src="/js/common.mjs"></script>
<script onload="init_documents()" src="/js/documents.js"></script>

<%- messagesuccess %>
<%- messagefailure %>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover({
            html:true
        });   
    });
    </script>

</body>
</html>