<%
var messagesuccess = messageSuccess != '' ? `<script>showAlert(document.querySelector('#alerts'),"success","${messageSuccess}", true)</script>` : '';
var messagefailure = messageFailure != '' ? `<script>showAlert(document.querySelector('#alerts'),"success","${messageFailure}", true)</script>` : '';
 
if(!doc)
    throw "doc is not defined"
%>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DoX — Edit — <%= doc.title %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/edit.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
<%- include('includes/header', {'extra' : "editor"}) %>







<div class="editor-tools">
    <div id="actions" class="action-icons px-0 container d-flex flex-wrap justify-content-start align-items-center">

        <div class="dropdown me-2">
            <button class="btn-sm btn-secondary dropdown-toggle" type="button" id="headingMenu"
                    data-bs-toggle="dropdown" aria-expanded="false">Normal text
            </button>

            <ul class="dropdown-menu" aria-labelledby="headingMenu">
                <li>
                    <button id="action-h1" class="dropdown-item h1">Heading 1</button>
                </li>
                <li>
                    <button id="action-h2" class="dropdown-item h2">Heading 2</button>
                </li>
                <li>
                    <button id="action-h3" class="dropdown-item h3">Heading 3</button>
                </li>
                <li>
                    <button id="action-h4" class="dropdown-item h4">Heading 4</button>
                </li>
                <li>
                    <button id="action-h5" class="dropdown-item h5">Heading 5</button>
                </li>
                <li>
                    <button id="action-h6" class="dropdown-item h6">Heading 6</button>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <button id="action-p" class="dropdown-item">Normal text</button>
                </li>
            </ul>
        </div>


        <i id="action-bold" class="action bi-type-bold" data-bs-toggle="tooltip" data-bs-placement="top"
           title="Bold (Ctrl-B)"></i>
        <i id="action-italic" class="action bi-type-italic" data-bs-toggle="tooltip" data-bs-placement="top"
           title="Italic (Ctrl-I)"></i>
        <i id="action-underline" class="action bi-type-underline" data-bs-toggle="tooltip" data-bs-placement="top"
           title="Underline (Ctrl-U)"></i>

        <input data-bs-toggle="tooltip" data-bs-placement="top" title="Text color"
               id="action-pick-color"
               type="color" value="#000000"
               aria-label="Text color">

        <div class="d-flex align-items-center justify-content-center">
            <i id="action-font-dec" class="action bi-arrow-down-short" data-bs-toggle="tooltip" data-bs-placement="top"
               title="Decrease font size"></i>
            <input class="form-control-sm" id="font-size-picker" value="16" aria-label="Font size picker"
                   data-bs-toggle="tooltip" data-bs-placement="top"
                   title="Font size">
            <i id="action-font-inc" class="action bi-arrow-up-short" data-bs-toggle="tooltip" data-bs-placement="top"
               title="Increase font size"></i>
        </div>


        <i id="action-lift-item" class="action bi-text-indent-left" data-bs-toggle="tooltip" data-bs-placement="top"
           title="Lift list item"></i>
        <i id="action-bullet-list" class="action bi-list-ul" data-bs-toggle="tooltip" data-bs-placement="top"
           title="Bulleted list (Ctrl-Shift-8)"></i>
        <i id="action-ordered-list" class="action bi-list-ol" data-bs-toggle="tooltip" data-bs-placement="top"
           title="Ordered list (Ctrl-Shift-7)"></i>

        <a data-bs-toggle="modal" data-bs-target="#insertImageModal">
            <i class="action bi-image" data-bs-toggle="tooltip" data-bs-placement="top"
               title="Insert image"></i>
        </a>

        <a data-bs-toggle="modal" data-bs-target="#insertLinkModal">
            <i class="action bi-link" data-bs-toggle="tooltip" data-bs-placement="top"
               title="Insert link"></i>
        </a>

        <i id="action-undo" class="action bi-arrow-counterclockwise" data-bs-toggle="tooltip" data-bs-placement="top"
           title="Undo (Ctrl-Z)"></i>
        <i id="action-redo" class="action bi-arrow-clockwise" data-bs-toggle="tooltip" data-bs-placement="top"
           title="Redo (Ctrl-Shift-Z)"></i>


        <div id="toolbar-buttons" class="ms-auto d-flex flex-wrap">
            <div class="text-end d-flex flex-wrap ms-3">
                <button type="button" class="btn btn-primary me-1 delete" data-bs-toggle="modal" data-bs-target="#shareModal" >
                    <i class="bi-share"></i>
                </button>

                <button id="button-export" type="button" class="btn btn-primary me-1" data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Export as a PDF (Ctrl-E)">
                    <i class="bi-cloud-download-fill"></i>
                </button>
                <button id="button-save" type="button" class="btn btn-primary" data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="Save (Ctrl-S)">
                    <i class="bi-cloud-upload-fill"></i>
                </button>
            </div>
        </div>
    </div>
</div>



<main class="document-view">
    <div id="editor" class="p-5">
    </div>
</main>

<!-- Insert image modal -->
<div class="modal fade" id="insertImageModal" tabindex="-1" aria-labelledby="insertImageLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" method="post" action="/" id="insert-image-form">
            <div class="modal-header">
                <h5 class="modal-title" id="insertImageLabel">Insert image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <label for="image-src" class="col-3 col-form-label">Image source</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="image-src"
                               placeholder="https://example.com/image.jpeg" required>
                        <div class="invalid-feedback">
                            Please provide the source of the image
                        </div>
                    </div>
                </div>
                <div class="row">
                    <label for="image-alt" class="col-3 col-form-label">Alternate text</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="image-alt"
                               placeholder="Example image">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" id="action-insert-image" value="Insert">
            </div>
        </form>
    </div>
</div>
<!-- Rename modal -->
<div class="modal fade" id="renameModal" tabindex="-1" aria-labelledby="renameLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" method="post" action="/" id="rename-form">
            <div class="modal-header">
                <h5 class="modal-title" id="renameLabel">Rename file</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <label for="new-name" class="col-3 col-form-label">New name</label>
                    <div class="col-9">
                        <input type="text" class="form-control" id="new-name" value="<%= doc.title %>" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" id="action-rename" value="Rename">
            </div>
        </form>
    </div>
</div>
<!-- Insert link modal -->
<div class="modal fade" id="insertLinkModal" tabindex="-1" aria-labelledby="inserLinkLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <form class="modal-content" method="post" action="/" id="insert-link-form">
            <div class="modal-header">
                <h5 class="modal-title" id="renameLabel">Insert link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3">
                    <label for="link-href" class="col-3 col-form-label">URL</label>
                    <div class="col-9">
                        <input type="url" class="form-control" id="link-href"
                               placeholder="https://example.com" required>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" id="action-insert-link" value="Insert">
            </div>
        </form>
    </div>
</div>

<%- include('includes/perm_modal.ejs') %>

<div id="toasts" class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="save-toast" class="toast align-items-center text-white bg-success border-0" role="alert"
         aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                <i class="bi-check-circle-fill me-1"></i>
                Saved successfully!
            </div>
            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
        </div>
    </div>
</div>


<script>
    // Get document state and ID as a global varaiable
    const documentID = '<%- doc._id %>'
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"
        integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="module" src="/js/build-editor.js"></script>
<script>
    let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
</script>


<script src="/js/common.mjs"></script>

<%- messagesuccess %>
<%- messagefailure %>


</body>
</html>